
/* Breakpoints */
$tablet: 768px;
$desktop: 1200px;

/* Colors */
$bg-color: #0057ba;
$primary-color: #b8b8ff;
$secondary-color: #9c52f2;
$tertiary-color: #5c7287;

/* Margins */
$margin-l: 1.5rem;
$margin-m: 1rem;
$margin-s: 0.5rem;

/* Borders */
$border-default: 2px solid black;

/* Font sizes */
$font-l: 1.7rem;

