@use './mixins' as m;
@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.2;
}

body {
    background-color: v.$bg-color;

    @include m.for-size(tablet){
        background-color: aliceblue;
    };
    @include m.for-size(desktop){
        background-color: bisque;
    }
}

#app {
    margin: 0 auto;
    max-width: 1500px;
    min-height: 110vh;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    @include m.for-size(tablet) {
        flex-direction: row-reverse;
    }
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-weight: 600;
    font-size: v.$font-xl;
    letter-spacing: 0.02rem;
}

#inputwrapper {
    background-color: white;
    padding: v.$margin-s;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: transform 600ms ease-in-out;
    @include m.for-size(tablet) {
        position:relative;
        top: 50px;
        height: 400px;
        max-width: 500px;
        flex-grow: 1;
        transform: translateX(0);
    }
}

.visibility {
    &--on {
    transform: translateY(0);
    @include m.for-size(tablet) {
        transform: 0;
        }
    }
    &--off {
    transform: translateY(100%);
    @include m.for-size(tablet) {
        transform: 0;
        }
    }
}


#listwrapper {
    padding: v.$margin-s;
}

#inactivelistwrapper {
    padding-bottom: 80px;
}

.listcontainer {
}

#toggleinput {
    height: 65px;
    padding: v.$margin-m;

    position: fixed;
    top: -64px;
    right: 1.5rem;
    z-index: 5;

    background-color: white;
    border: 0;

    font-size: v.$font-xl;
    letter-spacing: 0.02rem;
    font-weight: 400;

    @include m.for-size(tablet) {
        visibility:hidden;
    }
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: v.$margin-s;

    label {
        margin-top: v.$margin-m;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.2rem;
    }
    
    
    textarea, input {
        resize: none;
        border: v.$border-default;
        background-color: white;
        letter-spacing: 0.5px;
        font-size: 1rem;
    }

    input {
        height: 2rem;
    }
    textarea {
        height: 5lh;
    }

    button {
        margin-top: v.$margin-m;
        background-color: black;
        color: white;
        height: 65px;
        border: none;
        font-size: v.$font-xl;
    }
}

 button {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    padding: v.$margin-s;
 }


.list-item {
    min-height: 100px;
    display: grid;
    grid-template-columns: auto 50px 100px;
    grid-template-rows: auto 2fr;
    padding-left: v.$margin-s;
    margin-top: 0.4rem;
    background-color: v.$primary-color;
    
    h4 {
        padding-top: v.$margin-xs;
        color: white;
        font-size: v.$font-m;
    }

    span {
        padding: v.$margin-xs 0;
    }
    
    &-buttons{
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        
        display: flex;
        flex-direction: column;
        
        button {
            height: 50%;
            border: none;
            border-left: v.$border-default;
            border-bottom: v.$border-default;

            &:first-of-type {
                border-top: v.$border-default;
            }
        }
    }
    &:first-of-type {
        .list-item-buttons {
            flex-direction: column-reverse;
        }
    }
    .list-confirm-btn {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        border: v.$border-default;
    }
 }